bin
obj

*.ini
*.ini
*.cache
*.log
*.tmp

*.env
*.venv
**/__pycache__/**
**/poetry.lock
/dotnet/samples/07-DroneAssistant/.vs/07-DroneAssistant/FileContentIndex
/dotnet/samples/07-DroneAssistant/.vs/07-DroneAssistant/v17
/dotnet/samples/07-DroneAssistant/.vs/07-DroneAssistant/DesignTimeBuild
/src/.vs/DroneAssistant
/src/DroneAssistant/.vs
/src/TelloDrone/Tello/.vs/TelloSharp
